<!DOCTYPE html>
<html lang="en">

<head>
  
  <link rel="shortcut icon" href="/img/green-tea.svg" type="image/png">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">

  <title>ЧАЙ БУДЕШЬ?</title>
</head>

<body>
  <div id="wrapper">
  <header>
    <div>
      <div>
        {{!-- <img src="" alt=""> --}}
        <h1>Портал лучшего чая 🍵</h1>
          {{#if user}}  <p id="greeting">Привет, <strong id="greedName">{{user}}</strong>!</p>{{/if}}
      </div>
        <ul id="menu">
          {{!-- <li><a href="/">Главная</a></li> --}}
          {{#if user}}
          {{#if admin}}<li><a href="/entry">Добавить новый чай</a></li>{{/if}}
          <li><a href="/user/logout">Выйти</a></li>
          {{else}}
          <li><a href="/user/sign">Регистрация</a> / <a href="/user/login">Войти</a></li>
          {{!-- <li></li> --}}
          {{/if}}
        </ul>
    </div>
  </header>
  {{!-- <img src="/img/slide.jpg" alt=""> --}}
  {{{body}}}
  <footer id="footer">© CREATE by АНДРЕЙ, ОЛЯ & ИГОРЬ - МОСКВА - 2020</footer>
  </div>
</body>

</html>
