@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

* {box-sizing: border-box; font-family: 'Nunito', sans-serif; outline: none; font-size: 16px;}

body, html {
  width: 100%; height: 100%; padding: 0%; margin: 0;
  font-family: 'Nunito', sans-serif;
}

#wrapper {max-width: 1200px; margin: 0 auto; padding: 50px 25px;}

#footer {padding: 25px 0; margin-top: 50px;}

#map {width: 50%; height: 50%; padding: 0%;}

ul#menu li {display: inline; margin-right: 15px;}

ul#teaList li {display: inline; margin-right: 25px;}

/* #uploadFile {margin-bottom: 25px;} */

#entryImg {filter: brightness(1.03);}

ul#menu a{
  display: inline;
  background-color: #4CAF50;
  border-radius: 5px;
  color: white;
  padding: 10px 15px;
  margin: 5px 0;
  /* border: none; */
  cursor: pointer;
  width: 50%;
  opacity: 1;
  text-transform: uppercase;
  /* font-size: 19px; */
  text-decoration: none;
  
}

#deleteButton {
  margin-top: 25px;
    border: none;
    padding: 10px;
    border-radius: 5px;
    background-color: #e22727;
    color: #fff;
    font-size: 13px;
    text-transform: uppercase;
    cursor: pointer;
}

#breadCrumbs {
  font-size: 19px;
}

#addComment {
  margin-top: 15px;
    border: none;
    padding: 15px;
    border-radius: 5px;
    background-color: #2876ad;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
}

ul#teaList a{
  color: white;
  text-decoration: none;
  padding: 25px 35px;
}

img.previewImg {width: 30px}

ul#teaList li{
  display: inline-block;
  background-color: #4CAF50;
  border-radius: 5px;
  width: 300px;
  padding: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
  /* margin: 5px 0; */
  /* border: none; */
  cursor: pointer;
  text-align: center;
  /* width: 50%; */
  opacity: 1;
  text-transform: uppercase;
  font-size: 19px;
  
}

  ul#menu a:hover {
    background-color: #339b36;
  }

#menu {padding: 0; margin-bottom: 25px;}
#teaList {padding: 0; margin-bottom: 25px; width: 100%;  margin: 50px 0;}

h1 {text-transform: uppercase; font-size: 50px; font-family: 'Raleway', sans-serif;}
h2 {text-transform: uppercase; font-size: 35px; font-family: 'Raleway', sans-serif;}
h3, #greeting {font-size: 25px; font-family: 'Raleway', sans-serif;}

#greedName {color: #4CAF50; font-size: 25px;}

p, label {font-size: 16px;}
/* Add padding to containers */
.container {
  padding: 15px 0;
}

b {font-size: 19px;}
/* Full-width input fields */
input[type=text], input[type=password] {
  width: 50%;
  padding: 15px;
  margin: 5px 25px 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  font-family: 'Nunito', sans-serif;
  border-radius: 5px;
  
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
  font-family: 'Nunito', sans-serif;
  border-radius: 5px;
  
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
    margin: 25px 0;
    width: 100%;
}

/* Set a style for the submit/register button */
.registerbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  margin: 15px 0;
  border: none;
  cursor: pointer;
  width: 25%;
  opacity: 1;
  text-transform: uppercase;
  /* font-size: 19px; */
  border-radius: 5px;
}

.registerbtn:hover {
  background-color: #339b36;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}
