<link rel="stylesheet" href="/css/style.css">
<form name = "loginform" action="/user/login" method="POST">
  <div class="container">
    <h2>Войти</h2>
    <p>Для входа укажите данные своей учетной записи</p>
    <p>{{message1}}</p>
    <hr>

    <input type="text" placeholder="Укажите E-mail" name="email" id= "email" required>

    <input type="password" placeholder="Укажите пароль" name="psw" id= "psw" required>
<div><button type="submit" class="registerbtn">Войти</button></div>
    
  </div>
</form>
<div><a href="/">Вернуться на главную</a></div>
